@charset "utf-8";
*{
	padding: 0; margin: 0; list-style: none;
	text-decoration: none; color: black;
}

/* 공통 */
.container{
	width: 1190px; margin: 0 auto; padding: 0 30px;
	box-sizing: border-box;		letter-spacing: -.3px;

}
.container-fluid{
	min-width: 1190px;
}
.float-after::after{
	content: ''; clear: both; display: block;
}
/* 네이버 웨일 박스 */
.whale-box{
	height: 49px;
	background: #f3f1ff;
}
/* 검색창 박스 */
.search-box{
	height: 160px;
	position: relative;
}
/* 검색 로고 박스 */
.logo-box{
	width: 222px; height: 52px;
	top: calc((100% - 64px) / 2); left: 21px;
	position: absolute; overflow: hidden;
}
/* 로고 */
.logo{
	display: block; width: 100%; height: 100%; 
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: 0 -158px;
}
/* 검색 입력 박스  */
.search-input-box{
	border: 2px solid #19ce60;
	width: 582px; height: 52px;
	left: 268px;	top: calc((100% - 56px) / 2);
	position: absolute;
}
/* 검색 마지막 박스 */
.search-last-box{
	width: 474px; height: 100%;
	box-sizing: border-box;	
	padding: 14px 15px;
}
/* 검색 */
.search{
	width: 444px; height: 24px;
	position: absolute;
	font-size: 24px;
	border: none;
	box-sizing: border-box;
}
.search:focus{
	outline: none;
}
/* 검색버튼 */
.search-button{
	width: 54px; height: 52px;	
	background: #19ce60;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0; top: 0;
}
/* 검색 a태그 */
.search-start{
	width: 100%; height: 100%;	
}
/* 중간 메뉴 박스 */
.menu-box{
	height: 52px;
	border-top: 1px solid #e4e8eb;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
	position: relative;
}
/* 메뉴 컨테이너 박스 */
.menu-container-box{
	height: 100%;
	position:relative;	
	padding: 0 30px;
	margin: 0 auto;
	
}
.menu-container{	
	float: left;	
	padding: 11px 270px 11px 0px;
}
/* 메뉴들 플롯 */
.greens, .blacks{
	float: left;
}
.nav{	
	float: left;	
	margin-left: 12px;
}
.greens > .nav:first-child{
	margin: 0;
}
/* 메뉴 기본 폰트 */
.nav_link{
	color: #03c75a;
	line-height: 30px;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -.3px;
}
.blacks > .nav > .nav_link{
	color: black;
}
/* 메일 아이콘 */
.ico_mail{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 21px; width: 21px;	
	display: inline-block;
	background-position: -420px -279px;
	margin: 3px 9px 0 0;
	vertical-align: top;
}
/* 쇼핑 아이콘 */
.ico_shopping{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 20px; width: 24px;	
	display: inline-block;
	background-position: -420px -232px;
	margin-top: 5px;	
}
/* 쇼핑라이브 아이콘 */
.ico_shlive{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 20px; width: 54px;	
	display: inline-block;
	background-position: -202px -306px;
	margin-top: 5px;	
}
/* 페이 아이콘 */
.ico_pay{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 20px; width: 54px;	
	display: inline-block;
	background-position: -202px -306px;
	margin-top: 5px;	
}
/* tv 아이콘 */
.ico_tv{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 14px; width: 12px;	
	display: inline-block;
	background-position: -256px -212px;
	margin-top: 9px;
	margin-right: 2px;
	vertical-align: top;
}
/* 더보기 메뉴 */
.btn_more{
	float: left;
	margin-left: 17px;
	font-size: 13px;
	line-height: 30px;
	color: #202020;
	text-align: right;
}
.btn_more:hover{
	text-decoration: underline;
}
/* 더보기 아이콘 */
.btn_more::after{	
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: -83px -296px;
	width: 11px; height: 7px;
	vertical-align: 2px;
	margin-left: 7px;
	display: inline-block;
	content: '';
}
/* 더보기 박스 */
.menu-box .more-box{
	position: absolute;	top: 52px; right: 0; left: 0; display: none;
	height: 500px;
	padding: 20px 30px 22px; border-top: 1px solid #e4e8eb;
	box-shadow: 0 4px 4px 0 rgb(0, 0, 0 / 12%);
	z-index: 4; background: #fff;

	background: grey;
}
/* 서비스 컨테이너 */

/* 서비스 리스트 */

/* 컨텐츠 박스 */
.content-box{
	min-height: 1000px;
	
	padding: 20px 30px;
}
.content-box::after{
	clear: both; content: ''; display: block;
}
/* 컨텐츠 왼쪽 박스 */
.content-l-box{
	width: 750px; height: 1000px;
	float: left;
}
/* 컨텐츠 왼쪽 최상위 박스 */
.content-l-t-box{
	height: 135px;
	background: green;
}
/* 컨텐츠 왼쪽 두번째 박스 */
.content-l-s-box{
	height: 367px;
	margin-top: 12px;
}
/* 헤드 뉴스 박스 */
.group-issue{
	padding: 12px 15px 11px 15px;
	border: 1px solid #dae1e6;
	line-height: 24px;
	position: relative;
	background: #f7f9fa;
	width: 718px; height: 24px;
}

/* 이슈 박스 */
.issue-area{
	float: left;
	display: block;
	line-height: 24px;
	letter-spacing: -.2px;
	font-size: 13px;
	color: #202020;
	width: 380px; height: 24px;
	overflow: hidden;
}
.issue-area::after{
	content: ''; clear: both; display: block;
}
/* 링크 미디어 박스 */
.link-media{
	height: 24px;
	float: left;
	max-width: 89px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
}
.link-media::after{
	content: ''; display: inline-block; 
	width: 6px; height: 10px;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: -64px -396px;
	margin: auto 4px;
}
/* 링크 이슈 박스 */
.link-issue{
	height: 24px; width: 310px;
	float: left;
	overflow: hidden;	white-space: nowrap; text-overflow: ellipsis;
}
/* 다이렉트 박스 */
.direct-area{
	float: right;
	font-weight: 700;
	letter-spacing: -.2px;
}
/* 링크들 */
.content-l-s-box .link-news{
	float: left; color: #3565c9; font-size: 13px;
}
.content-l-s-box .link-news::after{
	content: ''; display: inline-block; width: 3px; height: 3px;
	border-radius: 50%; margin-left: 8px; vertical-align: 3px;
	background-color: red; background: #c8ccd1;
}
.content-l-s-box .link-enter,
.content-l-s-box .link-sports,
.content-l-s-box .link-economy{
	float: left; font-size: 13px; color: #202020; margin: 0 4px 0 7px;
}
/* 그룹 타이틀 */
.content-l-s-box .group-title{
	width: 750px; 
	padding: 22px 0px 16px;
	box-sizing: border-box;
	color: #202020;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -.2px;
}
/* 뉴스스탠드 링크 */
.content-l-s-box .link-newsstand{
	float: left; font-weight: 700; color: #000000;
}
.content-l-s-box .link-newsstand::before{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	width: 27px; height: 24px;
	background-position: 0 -396px;
	content: ''; margin: -6px -4px 0 0;
	vertical-align: top;
	display: inline-block;
}
.content-l-s-box .link-newsstand::after{
	content: ''; display: inline-block;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: -410px -213px;
	width: 7px; height: 11px;
	vertical-align: -1px;
	margin-left: 2px;
}
/* 언론사 박스 */
.sort-area{
	margin-left: 10px;	float: left;	display: block;
	font-size: 14px;	line-height: 18px;
		color: #505050;
}
/* 구독한 언론사 */
#mySort{
	float: left;
}
/* 전체 언론사 */
#allSort{
	float: left;
}
#allSort::before{
	content: ''; display: inline-block; width: 4px; height: 4px;
	border-radius: 50%; margin: 0 8px 0 8px; 
	background: #c7ccd1; vertical-align: 3px;
}
.btn-sort.sort-on{
	color: #202020; font-weight: 700;
}
/* 버튼 박스 */
.set-area{
	float: right;
}
/* 버튼 */
.link-icon{
	float: left; padding: 0 9px;
	
}
/* 리스트 버튼 */
.content-l-s-box .icon-list{
	display: inline-block; width: 14px; height: 13px;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px; background-position: -154px -337px;
	opacity: 0.7;
}
.link-icon:hover i{
	opacity: 1;
}
/* 박스 버튼 */
.content-l-s-box .icon-thum{
	display: inline-block; width: 13px; height: 13px;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px; background-position: -185px -337px;
	opacity: 0.7;
}
/* 설정 버튼 */
.content-l-s-box .icon-set{
	display: inline-block; width: 15px; height: 15px;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px; background-position: -47px -396px;
	margin: -1px 0 1px;
	opacity: 0.7;
}
/* 선택 */
.content-l-s-box .on .icon-list{
	background-position: -138px -337px; opacity: 1;
}
.content-l-s-box .on .icon-thum{
	background-position: -170px -337px; opacity: 1;
}
/* 뷰 컨테이너 */
.view-container{
	height: 262px; 
}
/* 그룹뉴스 */
.group-news{
	border: 1px solid #dae1e6;
	height: 260px; box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
/* 행 */
.group-news .row{
	display: flex;
}
/* 썸박스 */
.group-news .thumb-box{
	height: 65px; width: 100%; position: relative;
}
/* 라인 */
.group-news .line{
	position: absolute; background: #e4e8eb;	z-index: 2;
}
/* 세로선 */
.group-news .to-bottom1,
.group-news .to-bottom2,
.group-news .to-bottom3,
.group-news .to-bottom4,
.group-news .to-bottom5{
	top: 0; bottom: 0; width: 1px;
}
.group-news .to-bottom1{ left: 124px;}
.group-news .to-bottom2{ left: 248px;}
.group-news .to-bottom3{ left: 373px;}
.group-news .to-bottom4{ left: 498px;}
.group-news .to-bottom5{ left: 622px;}
/* 가로선 */
.group-news .to-right1,
.group-news .to-right2,
.group-news .to-right3{
	left: 0; right: 0; height: 1px;
}
.group-news .to-right1{ top:  65px;}
.group-news .to-right2{ top:  130px;}
.group-news .to-right3{ top:  195px;}
/* 페이지 컨테이너 */
/* 썸 */
.group-news .thumb{
	text-align: center; display: block;	padding: 23px 0 22px;
	
}
/* 팝업랩 */
.group-news .popup-wrap{
	position: absolute; left: 0; right: 0; top: 0; bottom: 0;
	background: #f7f9fa; font-size: 0;
	padding: 19px 0 18px; text-align: center;
	box-sizing: border-box;
	display: none;
}
.group-news .thumb-box:hover .popup-wrap{
	display: block;
}
.group-news .popup-wrap .btn-popup{
	display: inline-block; padding: 7px 8px 5px; background: #fff;
	border: 1px solid #dae1e6;
	font-size: 12px; line-height: 16px; color: #505050;
}
.group-news .popup-wrap .btn-popup:last-child{
	margin-left: -1px;
}
/* 보더 컨테이너 */
.boder-container{
	display: block;
	height: 260px;
	border: 1px solid #dae1e6;
	border-width: 1px;
	position: absolute;
}
/* 가로줄 */
.hor-line{
	width: 748px; height: 1px;
	background: #e4e8eb;
	position: absolute;
	z-index: 1;
}
.hl1{
	top: 65px;
}
.hl2{
	top: 130px;
}
.hl3{
	top: 195px;
}
/* 세로줄 */
.ver-line{
	width: 1px; height: 260px;
	background: #e4e8eb;
	position: absolute;
	z-index: 1;
}
.vl1{
	left: 124px;
}
.vl2{
	left: 248px;
}
.vl3{
	left: 372px;
}
.vl4{
	left: 497px;
}
.vl5{
	left: 622px;
}
/* 언론사 박스 */
.press-item{
	display: block;	padding: 23px 0 22px;
	text-align: center;	cursor: pointer;	float: left;
	width: 16.66%;	height: 65px; box-sizing: border-box;
	background: chocolate;
}
/* 컨텐츠 왼쪽 세번째 박스 */
.content-l-box3{
	width: 750px; height: 3702px;
	
}
/* 테마 캐스트 컨테이너 */
.theme-cast-container{
	padding: 35px 0 27px; width: 100%; height: 100%;
	box-sizing: border-box;
}
/* 테마 타이틀 */
.theme-title{
	width: 100%; height: 83px;
}
/* 그룹 타이틀 */
.theme-title .group-title{
	width: 100%; height: 34px;
	padding-bottom: 17px; line-height: 17px;
	box-sizing: border-box;
}
/* 타이틀 에어리어 */
.theme-title .group-title .title-area{
	float: left; height: 17px;
}
/* 타이틀 */
.theme-title .group-title .title-area .title{
	font-size: 14px; color: #000000; font-weight: bold;
	letter-spacing: -.25px; line-height: 16px;
	width: auto; height: auto;
}
/* dsc */
.theme-title .group-title .title-area .dsc{
	margin-left: 8px; color: grey; letter-spacing: -.25px;
	font-size: 12px; line-height: 16px;
	width: auto; height: auto;
}
/* 인포 에어리어 */
.theme-title .group-title .info-area{
	float: right; height: 16px;
	font-size: 12px; line-height: 16px;
	color: #202020;
}
/* 인포 */
.theme-title .group-title .info-area .info{
	color: grey;
}
/* 인포 셋 버튼 */
.theme-title .group-title .info-area .btn-set{
	position: relative;
	margin-left: 14px;
	color: #505050;		
}
.theme-title .group-title .info-area .btn-set:hover{
	text-decoration: underline;
}
.theme-title .group-title .info-area .btn-set::after{
	position: absolute; top: 2px;	left: -8px;
	content: ''; width: 1px; height: 12px;
	background: #e4e8eb; display: inline-block;
}
.theme-title .group-title .info-area .btn-set::before{
	display: inline-block; width: 11px; height: 11px;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px; background-position: -213px -337px;
	content: ''; margin-right: 4px; vertical-align: -1px;
	opacity: 0.7;
}
/* 그룹 컨테이너 */
.theme-title .group-container{
	position: relative;
}
/* 그룹 카테고리 */
.theme-title .group-category{
	width: 750px; overflow: hidden;
}
/* 메인 카테고리 */
.theme-title .main-category{
	width: 400%;
}
/* 카테고리 리스트 */
.theme-title .category-list{
	width: 750px; float: left; 
}
/* 카테고리 아이템 */
.theme-title .category-item{
	float: left; text-align: center;
	width: 94px; height: 49px; line-height: 49px;
	box-sizing: border-box; border: 1px solid #dae1e6;
	border-left: none;
	font-size: 13px; font-weight: 700; color: #202020;
	box-sizing: border-box; 
}
.theme-title .category-item:first-child{
	border-left: 1px solid #dae1e6;
	width: 92px;
}
/* 카테고리 링크 */
.theme-title .category-link{
	 display: block;
}
/* 카테고리 링크 호버 */
#webtoon:hover .category-link{
	color: #66c971;
}
#enter:hover .category-link{
	color: #e65da0;
}
#sports:hover .category-link{
	color: #0147b5;
}
#car:hover .category-link{
	color: #4a94e1;
}
#ecoM:hover .category-link{
	color: #35ae5e;
}
#recipe:hover .category-link{
	color: #ebaa00;
}
#game:hover .category-link{
	color: #5bb8e1;
}
#movie:hover .category-link{
	color: #1a2f63;
}
#job:hover .category-link{
	color: #d34f12;
}
#tech:hover .category-link{
	color: #486b95;
}
#travel:hover .category-link{
	color: #55ccc1;
}
#science:hover .category-link{
	color: #225ac6;
}
#living:hover .category-link{
	color: #c08d31;
}
#health:hover .category-link{
	color: #0fb54c;
}
#business:hover .category-link{
	color: #007ec8;
}
#love:hover .category-link{
	color: #ee909e;
}
#books:hover .category-link{
	color: #42be6f;
}
#parents:hover .category-link{
	color: #eabf01;
}
#law:hover .category-link{
	color: #1c3091;
}
#fashion:hover .category-link{
	color: #8449ca;
}
#animal:hover .category-link{
	color: #955f0e;
}
#design:hover .category-link{
	color: #5853a0;
}
#china:hover .category-link{
	color: #7e251b;
}
#farm:hover .category-link{
	color: #6acc59;
}
#concert:hover .category-link{
	color: #adac0f;
}
#withN:hover .category-link{
	color: #53a2f9;
}
/* 선택시 배경색변경 */
.theme-title .sel{
	color: white !important;
	margin: -1px;
}
#webtoon .sel{
	background-color: #66c971;
}
#enter .sel{
	background-color: #e65da0;
}
#sports .sel{
	background-color: #0147b5;
}
#car .sel{
	background-color: #4a94e1;
}
#ecoM .sel{
	background-color: #35ae5e;
}
#recipe .sel{
	background-color: #ebaa00;
}
#game .sel{
	background-color: #5bb8e1;
}
#movie .sel{
	background-color: #1a2f63;
}
#job .sel{
	background-color: #d34f12;
}
#tech .sel{
	background-color: #486b95;
}
#travel .sel{
	background-color: #55ccc1;
}
#science .sel {
	background-color: #225ac6;
}
#living .sel {
	background-color: #c08d31;
}
#health .sel{
	background-color: #0fb54c;
}
#business .sel{
	background-color: #007ec8;
}
#love .sel{
	background-color: #ee909e;
}
#books .sel {
	background-color: #42be6f;
}
#parents .sel{
	background-color: #eabf01;
}
#law .sel{
	background-color: #1c3091;
}
#fashion .sel{
	background-color: #8449ca;
}
#animal .sel{
	background-color: #955f0e;
}
#design .sel{
	background-color: #5853a0;
}
#china .sel{
	background-color: #7e251b;
}
#farm .sel{
	background-color: #6acc59;
}
#concert .sel{
	background-color: #adac0f;
}
#withN .sel{
	background-color: #53a2f9;
}
/* 왼쪽 버튼 */
.group-container .btn-left{
	position: absolute; z-index: 10; font-size: 10px; line-height: 16px;
	top: 6px; left: -23px;
}
/* 오른쪽 버튼 */
.group-container .btn-right{
	position: absolute; z-index: 10; font-size: 10px; line-height: 16px;
	top: 6px; right: -18px;
}
/* 왼쪽 아이콘 */
.group-container .icon-left{
	width: 40px; height: 40px; display: inline-block;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px; vertical-align: top;
	background-position: -128px -352px;	
}
/* 오른쪽 아이콘 */
.group-container .icon-right{
	width: 40px; height: 40px; display: inline-block;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px; vertical-align: top;
	background-position: -86px -352px;
	
}
/* 컨텐츠 오른쪽 박스 */
.content-r-box{
	width: 350px; height: 1000px;	
	float: right;
}
/* 컨텐츠 오른쪽 최상위 박스 */
.content-r-t-box{
	height: 135px;
	background: green;
	padding: 16px 16px 12px 17px;
	box-sizing: border-box;
}
/* 타이틀 박스 */
.content-r-t-title{
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	margin-bottom: 11px;
	background: blue;
}
/* 로그인 박스 */
.content-r-t-login{
	height: 48px;
	background: orange;
	display: block;
	text-align: center;
	line-height: 48px;
	font-size: 20px;	
}
.content-r-t-login > span{
	font-size: 16px;
	
}
/* 컨텐츠 오른쪽 두번째 박스 */
.content-r-s-box{
	height: 49px;
	
	margin-top: 12px;
	border: 1px solid #dae1e6;
	box-sizing: border-box;
}
/* 컨텐츠 뷰 */
.content-r-s-box .contents-view{
	height: 100%; width: 281px;
	overflow: hidden;
	float: left;
	box-sizing: border-box;
}
/* 컨텐츠 리스트 */
.content-r-s-box .contents-list{
	width: 500%; height: 100%;
}
/* 컨텐츠 아이템 */
.content-r-s-box .contents-item{
	width: 281px; height: 100%; float: left;	
}
/* 이슈 */
.content-r-s-box .contents-item #issue{
	padding: 14px 0 13px 16px;
	box-sizing: border-box;
}
/* 이슈 아이콘 */
.content-r-s-box .contents-item #issue .icon-issue{
	color: #202020; height: 18px;	font-style: normal;
	border: 1px solid #202020; border-radius: 10px;
	margin-right: 8px;	padding: 0 7px;	float: left;
	font-size: 11px; line-height: 18px; font-weight: 700;
}
/* 이슈 제목 */
.content-r-s-box .contents-item #issue .title-issue{
	font-size: 13px; line-height: 20px;
	color: #404040; display: block;
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
/* 컨텐츠 링크 */
.contents-link{
	width: 100%; height: 100%; display: block;
	padding: 14px 0 13px 16px;
}
/* 오른쪽 버튼 */
.content-r-s-rb{
	width: 24px; height: 24px;
	float: right;
	margin-right: 10px;
	margin-top: 11px;
	background: white;
	border: 1px solid #e4e8eb;
	text-align: center;
}
/* 왼쪽 버튼 */
.content-r-s-lb{
	width: 24px; height: 24px;
	float: right;
	margin-top: 11px;
	margin-right: -1px;	
	background: white;
	border: 1px solid #e4e8eb;
	text-align: center;
}
.content-r-s-box > a > i{
	font-size: 12px;
	color: gray;
}
.content-r-s-box > a:hover > i{
	
	color: red;
}
/* 푸터 박스 */
.footer-box{
	height: 423px;
	background: plum;
}