@charset "utf-8";
*{
	padding: 0; margin: 0; list-style: none;
	text-decoration: none; color: black;
}

/* 공통 */
.container{
	width: 1190px; margin: 0 auto; padding: 0 30px;
	box-sizing: border-box;
}
.container-fluid{
	min-width: 1190px;
}

/* 네이버 웨일 박스 */
.whale-box{
	height: 49px;
	background: #f3f1ff;
}
/* 검색창 박스 */
.search-box{
	height: 160px;
	position: relative;
}
/* 검색 로고 박스 */
.logo-box{
	width: 222px; height: 52px;
	top: calc((100% - 64px) / 2); left: 21px;
	position: absolute; overflow: hidden;
}
/* 로고 */
.logo{
	display: block; width: 100%; height: 100%; 
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: 0 -158px;
}
/* 검색 입력 박스  */
.search-input-box{
	border: 2px solid #19ce60;
	width: 582px; height: 52px;
	left: 268px;	top: calc((100% - 56px) / 2);
	position: absolute;
}
/* 검색 마지막 박스 */
.search-last-box{
	width: 474px; height: 100%;
	box-sizing: border-box;	
	padding: 14px 15px;
}
/* 검색 */
.search{
	width: 444px; height: 24px;
	position: absolute;
	font-size: 24px;
	border: none;
	box-sizing: border-box;
}
.search:focus{
	outline: none;
}
/* 검색버튼 */
.search-button{
	width: 54px; height: 52px;	
	background: #19ce60;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0; top: 0;
}
/* 검색 a태그 */
.search-start{
	width: 100%; height: 100%;	
}
/* 중간 메뉴 박스 */
.menu-box{
	height: 52px;
	border-top: 1px solid #e4e8eb;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}
/* 메뉴 컨테이너 박스 */
.menu-container-box{
	height: 100%;
	position:relative;	
	padding: 0 30px;
	margin: 0 auto;
	
}
.menu-container{	
	float: left;	
	padding: 11px 270px 11px 0px;
}
/* 메뉴들 플롯 */
.greens, .blacks{
	float: left;
}
.nav{	
	float: left;	
	margin-left: 12px;
}
.greens > .nav:first-child{
	margin: 0;
}
/* 메뉴 기본 폰트 */
.nav_link{
	color: #03c75a;
	line-height: 30px;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -.3px;
}
.blacks > .nav > .nav_link{
	color: black;
}
/* 메일 아이콘 */
.ico_mail{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 21px; width: 21px;	
	display: inline-block;
	background-position: -420px -279px;
	margin: 3px 9px 0 0;
	vertical-align: top;
}
/* 쇼핑 아이콘 */
.ico_shopping{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 20px; width: 24px;	
	display: inline-block;
	background-position: -420px -232px;
	margin-top: 5px;	
}
/* 쇼핑라이브 아이콘 */
.ico_shlive{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 20px; width: 54px;	
	display: inline-block;
	background-position: -202px -306px;
	margin-top: 5px;	
}
/* 페이 아이콘 */
.ico_pay{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 20px; width: 54px;	
	display: inline-block;
	background-position: -202px -306px;
	margin-top: 5px;	
}
/* tv 아이콘 */
.ico_tv{
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	height: 14px; width: 12px;	
	display: inline-block;
	background-position: -256px -212px;
	margin-top: 9px;
	margin-right: 2px;
	vertical-align: top;
}
/* 더보기 메뉴 */
.btn_more{
	float: left;
	margin-left: 17px;
	font-size: 13px;
	line-height: 30px;
	color: #202020;
	text-align: right;
}
.btn_more:hover{
	text-decoration: underline;
}
/* 더보기 아이콘 */
.btn_more::after{	
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: -83px -296px;
	width: 11px; height: 7px;
	vertical-align: 2px;
	margin-left: 7px;
	display: inline-block;
	content: '';
}
/* 컨텐츠 박스 */
.content-box{
	min-height: 1000px;
	background: #00f;	
	padding: 20px 30px;
}
.content-box::after{
	clear: both; content: ''; display: block;
}
/* 컨텐츠 왼쪽 박스 */
.content-l-box{
	width: 750px; height: 1000px;
	background: red;
	float: left;
}
/* 컨텐츠 왼쪽 최상위 박스 */
.content-l-t-box{
	height: 135px;
	background: green;
}
/* 컨텐츠 왼쪽 두번째 박스 */
.content-l-s-box{
	height: 367px;
	background: yellow;
	margin-top: 12px;
}
/* 컨텐츠 오른쪽 박스 */
.content-r-box{
	width: 350px; height: 1000px;
	background: orange;
	float: right;
}
/* 컨텐츠 오른쪽 최상위 박스 */
.content-r-t-box{
	height: 135px;
	background: green;
	padding: 16px 16px 12px 17px;
	box-sizing: border-box;
}
/* 타이틀 박스 */
.content-r-t-title{
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	margin-bottom: 11px;
	background: blue;
}
/* 로그인 박스 */
.content-r-t-login{
	height: 48px;
	background: orange;
	display: block;
	text-align: center;
	line-height: 48px;
	font-size: 20px;	
}
.content-r-t-login > span{
	font-size: 16px;
	
}
/* 컨텐츠 오른쪽 두번째 박스 */
.content-r-s-box{
	height: 49px;
	background: yellow;
	margin-top: 12px;
}
/* 오른쪽 버튼 */
.content-r-s-rb{
	width: 24px; height: 24px;
	float: right;
	margin-right: 10px;
	margin-top: 11px;
	background: white;
	border: 1px solid #e4e8eb;
	text-align: center;
}
/* 왼쪽 버튼 */
.content-r-s-lb{
	width: 24px; height: 24px;
	float: right;
	margin-top: 11px;
	margin-right: -1px;	
	background: white;
	border: 1px solid #e4e8eb;
	text-align: center;
}
.content-r-s-box > a > i{
	font-size: 12px;
	color: gray;
}
.content-r-s-box > a:hover > i{
	
	color: red;
}
/* 푸터 박스 */
.footer-box{
	height: 423px;
	background: plum;
}

